{% extends "base.html" %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <header>
    </header>
    <main>
        <h1>About Our Website</h1>
        <p>This is a project designed to help us learn flask in BAIS3300</p>
        
        <!-- Developers Section -->
        <section id="developers">
            <h2>Our Developers</h2>
            <p>Meet the team behind our website:</p>
            <ul>
                <li>Dillon Fouts</li>
                <li>Tyler Noga</li>
            </ul>
            <figure>
                <img src="{{ url_for('static', filename='images/programming_partner.jpg') }}" alt="Your Image" style="width: 600px; height: auto;">
                <figcaption>Dillon Fouts and Tyler Noga working on the project.</figcaption>
            </figure>
        </section>
    </main>
{% endblock %}
